<section id="marketing-text">
  <div class="col-md-12 col-sm-12">
    <h1>Your product description!!!</h1>
    <p>Talk a little bit more about your slogan here!</p>
    <br>
    <p>But don't forget to mention this and that!</p>
  </div><!--12-->
</section><!--/marketing-text-->

<section id="subscribe" class="clearfix">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="row">
      <a href="/signup" class="btn btn-block btn-lg btn-theme" style="color: #05e300; border: 1px solid lightgrey">Get Started Now For $49.95</a>
    </div><!--row-->
  </div><!--/6-->
</section><!--subscribe-->


<section id="features">
  <div class="col-md-3 col-sm-3">
    <div class="feature-box">
      <i class="fa fa-camera-retro"></i>
      <h2>We do this</h2>
      <p>So talk about it a little bit more here, down in this little box.</p>
    </div><!--feature-box-->
  </div><!--/3-->

  <div class="col-md-3 col-sm-3">
    <div class="feature-box">
      <i class="fa fa-credit-card"></i>
      <h2>And this</h2>
      <p>And we also do this. So make sure to talk about it. Just like we're doing!</p>
    </div><!--feature-box-->
  </div><!--/3-->

  <div class="col-md-3 col-sm-3">
    <div class="feature-box">
      <i class="fa fa-cloud-download"></i>
      <h2>And this</h2>
      <p>So now we can talk about the last great thing we offer here! Yay!</p>
    </div><!--feature-box-->
  </div><!--/3-->

  <div class="col-md-3 col-sm-3">
    <div class="feature-box">
      <i class="fa fa-file-text-o"></i>
      <h2>And much, much more</h2>
      <p>So now that we've told you everything we've done, are you ready to get started!?</p>
    </div><!--feature-box-->
  </div><!--/3-->
</section><!--features-->

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- IE Input Placeholder Fix -->
<script src="/vendor/bootstrap/js/jquery.placeholder.js"></script>
<script type="text/javascript">$(function(){$('input, textarea').placeholder();});</script>
