<section id="marketing-text">
  <h1>Subscribe below so we can let you know when we launch!</h1>
  <section id="subscribe" class="clearfix">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="row">
        <form role="form" action="/" method="post">
          <div class="col-md-7 col-sm-7"><input type="email" id="fieldEmail" name="user[email]" class="form-control input-lg" placeholder="Email Address" required=""></div><!--7-->
          <div class="col-md-5 col-sm-5 "><button class="btn btn-block btn-lg btn-theme">Subscribe</button></div><!--5-->
        </form>
      </div><!--row-->
    </div><!--/6-->
  </section>
</section>