<% if @signup_success %>
    <div class="success-bar">
      <h2 >Thanks for signing up! We'll email you know as soon as we launch!</h2>
    </div>

<% else %>
    <h2>Oops! It looks like something went wrong.</h2>
<% end %>